# Ignore node_modules
frontend/node_modules/

# Ignore Python virtual environment
backend/venv/

# Ignore system files
.DS_Store

# Ignore DB
backend/url_shortener.db

# Ignore the pycache
backend/tests/__pycache__
backend/app/__pycache__
backend/__pycache__
backend/app/models/__pycache__
backend/app/services/__pycache__
backend/app/routers/__pycache__
backend/app/schemas/__pycache__